

<div class="main area">
  <div class="container">
    <br>
    <h1>  Men are hacking ! Don't bother knocking </h1>
    <img src = "img/finals.png" width="210px">
    <p>An online distributed problem-solving and production environment.</p>
    <p>
      <a href="" class="btn btn-primary btn-large" onclick="">Sign Up Now ! </a>
    </p>
    <ul class="link">
      <li>
        <a href="https://twitter.com/teamtudlr" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @twitterapi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      </ul>
  </div>
</div> <img src="img/patern.png" width="100%" style="position:relative;top:-10px;">

 


<div class="container c1">

  <div class="mkr">

    <h1 >How it works</h1>
    <p id="how" class="marketing-byline">see how tudlr works ?</p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="img/hw1.png">
        <h2>Problem Solving</h2>
        <p align="justify">You along with fellow tudlrs earn coins through working on different micro-tasks posted on the site.So hack against time to earn coins and respect in the community.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="img/hw2.png" >
        <h2>Collaboration</h2>
        <p align="justify">With the coins you earned you can inturn post some micro-task to tudlr's and get some help for your hack.</p>  </div>
      <div class="span4">
        <img class="marketing-img" src="img/hw3.png">
        <h2>Productivity</h2>
        <p align="justify">We are amplifing the potential of the user as you are assured help when and where you needs ! All you have done at the end of the day was exchange your skills for some other skill sets.</p>
		</div>
    </div>
    </div>
  </div>
<hr>
<div class="container">
<p style="float:right;">About | Privacy policy | Terms </p>
</div>



  <script src="js/jquery.smooth-scroll.js"></script>
  <script>
    $(document).ready(function() {

      $('ul.nav a').smoothScroll(); 
	  $('.brand').smoothScroll(); 

    });

  </script>
